---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";

import hollywood from "../img/hollywood.jpeg";
---

<Layout title="Project Team">
  <h2 style="background-color:#ffc500">Principle Investigators</h2>
  <div>
    <p>
      <strong>Dr. Mark Amengual</strong><br />Department of Languages and
      Applied Linguistics<br />University of California, Santa Cruz<br /><a
        href="mailto:amengual@ucsc.edu">amengual@ucsc.edu</a
      >
    </p>
    <p>
      <strong>Dr. Ji Young Kim</strong><br />Department of Spanish and
      Portuguese<br />University of California, Los Angeles<br /><a
        href="mailto:jiyoungkim@ucla.edu">jiyoungkim@ucla.edu</a
      >
    </p>
    <p>
      <strong>Dr. Justin Davidson</strong><br />Department of Spanish and
      Portuguese<br />University of California, Berkeley<br /><a
        href="mailto:justindavidson@berkeley.edu">justindavidson@berkeley.edu</a
      >
    </p>
  </div>
  <h2 style="background-color:#ffc500">Research Assistants</h2>
  <p>
    Research assistants have been trained on sociolinguistic interview methods,
    transcription review, and other details of the MuHSiC corpus. Our research
    assistants are an integral part of this project.&nbsp;
  </p>
  <p><strong>UC Santa Cruz</strong></p>
  <p>
    <em>Undergraduate students</em>: Miranda Aguirre Bernal, Abbie Tafolla,
    Erika García Aceves, Maritza Ortíz Ríos, Claire Skelly, Cali Smith, Mariana
    Belmontes, Kaya Aguirre, Andrea Solís, Cassandra Ponce-Ventura, Silvia
    Íñiguez, Adam Cooperman, Damaris García, Dacia Van Wormer, Joscelyn Osorio,
    Karen Hinojosa, Rosario Méndez.
  </p>
  <p><strong>UCLA</strong></p>
  <p><em>Graduate student</em>: Jesús Duarte</p>
  <p>
    <em>Undergraduate students</em>: Laura Aquino, Jacob Bower, Valeria Carreón,
    Itzel Cerecedo, Mayra Gallo, Emiliano Galvéz, Karen Juárez, Leslie Merino,
    Alondra Ornelas Pérez, Kimberly Pérez, Alejandra Pulido, Breanna Reyes
  </p>
  <p><strong>UC Berkeley</strong></p>
  <p>
    <em>Graduate students</em>: Verónica Grajeda, Nikolai Schwarz, Julian Vargo,
    Anna Knall
  </p>
  <p>
    <em>Undergraduate students</em>: Ximena Alejandra Flores, Arely Badillo
    Alvarado, María Castillo Moreno, Elizabeth Castanon Martinez, Estefani
    Corona, Alison Galindo, Kathleen Gómez, Ariana Gonzales, Averie Haneul
    Burke, Angelique Ibarra, Jessica Ivette Lopez, Michelle Jesús Hernández,
    Anna Knall, Gabby Laurente, Nicole Leon Loya, Luz Limón, Zaira Linares
    Lemus, Hugo López Muñoz, Selena Maldonado-Pérez, Lila Marion O’Gorman, Erika
    Matsunaga, Belén Mendoza, Giuseppe Mendoza Torres, Katherine Menéndez,
    Joshua Miles Kamins, Sage Miller, Annika Mills, Anderson Adonay Ortiz Perez,
    Yuliana Pineda, Yeny Ramos Henríquez, Sofía Reynoso Sandoval, Stephanie
    Robles Ángel, Francis Ruiz-Marenco, Edward Rumbos-Pérez, Fátima Sánchez,
    Julian Vargo, Gregvi Vílchez.&nbsp;
  </p>
  <figure>
    <Image
      style="width: 100%; object-fit: cover;"
      src={hollywood}
      alt="Hollywood sign"
      width={1280}
      height={960}
    />
  </figure>
</Layout>
