---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Links to Other Corpora">
  <p class="has-medium-font-size"><strong>Spanish</strong></p>
  <ul class="wp-block-list">
    <li>
      <a href="http://www.bangortalk.org.uk/"
        >CANOLFAN: The Miami corpus consists of conversations by Spanish-English
        bilinguals</a
      >
    </li>
    <li>
      <a href="https://cesa.arizona.edu/"
        >CESA: Corpus Del Español en el sur de Arizona</a
      > (Corpus of Spanish in Southern Arizona)
    </li>
    <li><a href="https://www.corpusdelespanol.org/">Corpus Del Español</a></li>
    <li>
      <a
        href="https://libguides.library.albany.edu/c.php?g=536977&p=3676740#:~:text=%22The%20Corpus%20of%20Mexican%20Spanish,English%20in%20the%20United%20States.%22"
        >Corpus of Mexican Spanish in Salinas</a
      >
    </li>
    <li>
      <a href="https://lef.colmex.mx/corpus_sociolinguistico.html"
        >Corpus Sociolingüistico de la Ciudad de México (CSCM)</a
      >
    </li>
    <li>
      <a href="https://www.uam.es/coser"
        >COSER: Corpus oral y Sonora del Español Rural</a
      >
    </li>
    <li>
      <a href="https://www.iifilologicas.unam.mx/elhablamexico/"
        >Lope Blanch Corpus</a
      >
    </li>
    <li>
      <a href="https://preseea.uah.es/"
        >PRESEEA: Proyecto para el estudio sociolingüístico del español de
        España y de América</a
      >
    </li>
    <li>
      <a
        href="https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.coerll.utexas.edu%2Fcoerll%2Fproject%2Fspanish-texas-corpus&data=02%7C01%7Cmaricela.perez%40utrgv.edu%7C46627ecbe8794cb2c43008d6ea9d9de9%7C990436a687df491c91249afa91f88827%7C0%7C0%7C636954360012934977&sdata=opWgxaadmJ9ZdYhTF9fefliwMiBuibvmGWA6BQ3XyqA%3D&reserved=0"
        >Spanish in Texas</a
      >
    </li>
    <li><a href="https://www.utrgv.edu/cobiva/index.htm">CoBiVa<br /></a></li>
  </ul>
  <p class="has-medium-font-size"><strong>Other Languages</strong></p>
  <ul class="wp-block-list">
    <li>
      American English –&nbsp;<a href="http://slaap.lib.ncsu.edu/"
        >SLAAP: The Sociolinguistic Archive and Analysis Project</a
      >
    </li>
    <li>
      Brazilian Portuguese –&nbsp;<a href="https://alip.ibilce.unesp.br/"
        >ALIP: Amostra Lingüística do Interior Paulista</a
      >&nbsp;
    </li>
    <li>Catalan –&nbsp;<a href="https://clic.ub.edu/corpus/">Ancora</a></li>
    <li>
      <a href="https://oraal.uoregon.edu/coraal"
        >CORAAL: The Corpus of Regional African American Language</a
      >
    </li>
    <li>
      <a href="http://research.ncl.ac.uk/decte/"
        >DECTE: Diachronic Electronic Corpus of Tyneside English</a
      >
    </li>
    <li>
      Dutch –&nbsp;<a href="https://ivdnt.org/corpora-lexica/brieven-als-buit/"
        >Brieven als Buit</a
      >
    </li>
    <li>
      <a
        href="https://www.ausnc.org.au/corpora/facet_listing?include_subfolders"
        >English ACE: Australian National Corpus</a
      >
    </li>
    <li>
      French –&nbsp;<a href="http://cfpp2000.univ-paris3.fr/"
        >CFPP: Le Corpus de Français Parlé Parisien</a
      >
    </li>
    <li>
      German –&nbsp;<a
        href="https://www.isfas.uni-kiel.de/de/linguistik/forschung/kiel-corpus"
        >The Kiel Corpus</a
      >
    </li>
    <li>
      Hebrew –&nbsp;<a href="http://cosih.com/english/index.html"
        >CoSIH: The Corpus of Spoken Israeli Hebrew</a
      >
    </li>
    <li>
      <a href="http://ice-corpora.net/ice/"
        >ICE: International Corpus of English</a
      >
    </li>
    <li>
      Italian –&nbsp;<a
        href="http://universal.elra.info/product_info.php?cPath=37_46&products_id=1472"
        >LABLITA: Corpus of Spontaneous Spoken Italian</a
      >
    </li>
    <li>
      <a href="http://www.kiezdeutschkorpus.de/">KiDKo: KiezDeutsch-Korpus</a
      >&nbsp;(German in a multilingual neighborhood of Berlin)
    </li>
    <li>
      Lithuanian –&nbsp;<a href="http://kalbavilnius.sociolingvistika.lt/"
        >Vilniečių interviu bazė “Kalba Vilnius”</a
      >&nbsp;(database of sociolinguistic interviews “Vilnius Speaking”)
    </li>
    <li>
      <a href="https://www.pacprogramme.net/"
        >PAC: The Phonology of Contemporary English</a
      >
    </li>
    <li>
      <a href="http://www.projet-pfc.net/"
        >PFC: Phonologie du Français Contemporain</a
      >&nbsp;(Phonology of Contemporary French)
    </li>
    <li>
      Portuguese –&nbsp;<a href="http://projetosp2010.fflch.usp.br/node/3"
        >Amostra da Fala Paulistana</a
      >
    </li>
    <li>
      <a href="http://comet.fflch.usp.br/corporaportugues"
        >Several Portuguese Corpura</a
      >
    </li>
    <li>
      <a href="http://www.linguistics.ucsb.edu/research/santa-barbara-corpus"
        >SBCSAE: The Santa Barbara Corpus of Spoken American English</a
      >
    </li>
    <li>
      Swedish –&nbsp;<a href="https://gupea.ub.gu.se/handle/2077/21546"
        >The Swedish Spoken Language Corpus at Göteborg University</a
      >
    </li>
    <li>
      Valibel —&nbsp;<a
        href="https://journals.openedition.org/brussels/829?lang=en"
        >Discours et variation (French spoken in Bruxelles)</a
      >
    </li>
    <li>
      <a
        href="http://www.victoria.ac.nz/lals/resources/corpora-default/corpora-wsc"
        >WSC: The Wellington Corpus of Spoken New Zealand English</a
      >
    </li>
  </ul>
  <p class="has-medium-font-size"><strong>Sign Language</strong></p>
  <ul class="wp-block-list">
    <li>
      <a href="http://www.bslcorpusproject.org/data/"
        >BSLCP: British Sign Language Corpus Project</a
      >
    </li>
  </ul>
  <p class="has-medium-font-size"><strong>Multiple Languages</strong></p>
  <ul class="wp-block-list">
    <li>
      <a href="https://childes.talkbank.org/"
        >CHILDES: Child Language Data Exchange System</a
      >&nbsp;(Spanish-English bilingual children)
    </li>
    <li>
      <a href="https://elararchive.org/collections/"
        >Endangered Languages Archive</a
      >
    </li>
    <li>
      <a href="https://ngn.artsci.utoronto.ca/HLVC/0_0_home.php"
        >HLVC: Heritage Language Variation and Change Project&nbsp;</a
      >(Various heritage languages spoken in Toronto)
    </li>
    <li>
      <a href="https://www.ldc.upenn.edu/about"
        >LDC: The Linguistic Data Consortium</a
      >
    </li>
    <li>
      <a
        href="http://digitalhumanities.umass.edu/projects/new-england-corpus-heritage-and-second-language-speakers"
        >The New England Corpus of Heritage and Second Language Speakers</a
      >&nbsp;(Oral and written production of heritage and L2 speakers of Spanish
      and Portuguese in New England)
    </li>
    <li>
      <a href="http://www.cs.upc.edu/~nlp/wikicorpus/">Wikicorpus</a
      >&nbsp;(Catalan, Spanish and English)
    </li>
  </ul>
</Layout>
